@{
    ViewData["Title"] = "Home Page";
}
<link rel="manifest" href="/manifest.json">
<link rel="shortcut icon" href="/favicon.ico">

<div id="react-app">Loading...</div>

@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>
}